@model AOWebApp2.ViewModels.CustomerSearchVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form class="mb-3 row justify-content-center" method="post" asp-controller="Customers" asp-action="Index">
    <div class="col-sm-6">
        <input class="form-control" id="CustomerSearch" placeholder="Enter customer to search here..." maxlength="100" title="Search by Customer. Max 100 Characters." type="text" asp-for="SearchText">
    </div>
    <div class="col-sm-4">
        <select class="form-select" title="View customers from a specific suburb" asp-items="@Model.SuburbList" asp-for="Suburb">
            <option value="">All Suburbs...</option>
        </select>
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Create" class="btn btn-outline-danger">Create</a>
    </div>
</form>
@* @if (@ViewBag.customerCount > 0){
    <div>Records returned: @ViewBag.customerCount</div>
} *@
@if(Model.CustomerList.Count > 0)
{
    <div>Customer Records Returned: @Model.CustomerList.Count</div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].FullName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].ContactNumber)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MainPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryPhoneNumber)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CustomerList[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.MainPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondaryPhoneNumber)
                </td> *@
                <td>
                    @* @Html.DisplayFor(modelItem => item.Address.AddressId) *@
                    @Html.DisplayFor(modelItem => item.Address.AddressLine)
                    <br />
                    @Html.DisplayFor(modelItem => item.Address.Suburb),
                    @Html.DisplayFor(modelItem => item.Address.Postcode)
                    [@Html.DisplayFor(modelItem => item.Address.Region)]
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
